<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My power usage</title>
    <meta http-equiv="refresh" content="3">
</head>
<style>
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
</style>
<body>
  <h1>Cost for Load (kWh) on 24hr Period</h1>

<canvas id="myChart"></canvas>



<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
<!-- creating a chart with the data -->
<script>
// creating date object
var myDateIsHot = new Date()
var myDateIsHotOneMinAgo = new Date(myDateIsHot - 3000)
var myDateIsHotTwoMinAgo = new Date(myDateIsHot - 2* 3000)
var myDateIsHot3MinAgo = new Date(myDateIsHot - 3*3000)
var myDateIsHot4MinAgo = new Date(myDateIsHot - 4* 3000)
var myDateIsHot5MinAgo = new Date(myDateIsHot - 5* 3000)

var fplRate = 0.000065950;

var ctx = document.getElementById('myChart').getContext('2d');
var cost = {{cost_total}}
cost = cost.toPrecision(3)
var chart = new Chart(ctx, {
    // The type of chart we want to create
    type: 'line',

    // The data for our dataset
    // You must leave the color of the graph pink MAURICIO!!!!!!! or
    // you will ruin the entire project!
    data: {
        labels: ["1","2","3","4","5","6","7","8","9","10","11","12","13","14","15","16","17","18","19","20","21","22","23"],
        datasets: [{
            label: "My Power Usage",
            borderColor: 'rgb(255, 99, 132)',
            data: [{{table[0]}}*fplRate, {{table[1]}}*fplRate, {{table[2]}}*fplRate, {{table[3]}}*fplRate, {{table[4]}}*fplRate, {{table[5]}}*fplRate, {{table[6]}}*fplRate, {{table[7]}}*fplRate, {{table[8]}}*fplRate, {{table[9]}}*fplRate, {{table[10]}}*fplRate, {{table[11]}}*fplRate, {{table[12]}}*fplRate, {{table[13]}}*fplRate, {{table[14]}}*fplRate, {{table[15]}}*fplRate, {{table[16]}}*fplRate, {{table[17]}}*fplRate, {{table[18]}}*fplRate, {{table[19]}}*fplRate, {{table[20]}}*fplRate, {{table[21]}}*fplRate, {{table[22]}}*fplRate, {{table[23]}}*fplRate],
        }]
    },

    // Configuration options go here
    options: {}
});

// document.getElementById('costtest').innerHTML = fplRate;

</script>
<h1>Total cost for 24hr Period:  $  {{cost_total}}.toPrecision(3)  </h1>
<h1> Cost Summary : David Gabay </h1>
<h2> Usage for past hour for all circuits </h2>
<h5>Usage is based on FPL non fuel rate of $0.065950/kWh</h5>
<table>
  <tr>
    <th>Circuit</th>
    <th>Usage</th>
    <th>Cost/ Last Hour</th>
  </tr>
  <tr>
    <td>Kitchen</td>
    <td>63.5 Watts</td>
    <td id="costtest">$</td>
  </tr>
  <tr>
    <td>Kitchen 2</td>
    <td>39.5 Watts</td>
    <td>$0.0053.8</td>
  </tr>
  <tr>
    <td>Bedroom</td>
    <td>83.5 Watts</td>
    <td>$0.0103.2</td>
  </tr>
  <tr>
    <td>Bedroom 2</td>
    <td>13.5 Watts</td>
    <td>$0.0023.8</td>
  </tr>
  <tr>
    <td>Patio</td>
    <td>150.5 Watts</td>
    <td>$0.0183.8</td>
  </tr>
  <tr>
    <td>Air Conditioning</td>
    <td>1030.1 Watts</td>
    <td>$0.83.8</td>
  </tr>
</table>



</body>
</html>
