<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<canvas id="myChart"></canvas>


<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
<!-- creating a chart with the data -->
<script>
// creating date object
var myDateIsHot = new Date()
var myDateIsHotOneMinAgo = new Date(myDateIsHot - 60000)

var ctx = document.getElementById('myChart').getContext('2d');
var chart = new Chart(ctx, {
    // The type of chart we want to create
    type: 'line',

    // The data for our dataset
    // You must leave the color of the graph pink MAURICIO!!!!!!! or
    // you will ruin the entire project!
    data: {
        labels: [{{time_table[0]}}, {{time_table[1]}}, {{time_table[2]}}, {{time_table[3]}}, {{time_table[4]}},{{time_table[5]}}, {{time_table[6]}}],
        datasets: [{
            label: "My Power Usage",
            backgroundColor: 'rgb(255, 99, 132)',
            borderColor: 'rgb(255, 99, 132)',
            data: [{{table[0]}}, {{table[1]}}, {{table[2]}}, {{table[3]}}, {{table[4]}}, {{table[5]}}, {{table[6]}}],
        }]
    },

    // Configuration options go here
    options: {}
});
</script>
<p>{{table[0]}} {{table[1]}}{{table[2]}}{{table[3]}}</p>

<p id="demo"></p>

<!-- <script>

var obj = JSON.parse('smartpanel.mybluemix.net/api/people');
document.getElementById("demo").innerHTML = obj.name + ", " + obj.name;

</script> -->

<!-- <p>Take a look at <a href="json_demo.txt" target="_blank">json_demo.txt</a></p> -->

</body>
</html>
