<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My power usage</title>
</head>
<style>
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
</style>
<body>
  <h1>Usage for all Loads (kWh)</h1>
<canvas id="myChart"></canvas>


<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
<!-- creating a chart with the data -->
<script>
// creating date object
var myDateIsHot = new Date()
var myDateIsHotOneMinAgo = new Date(myDateIsHot - 3000)
var myDateIsHotTwoMinAgo = new Date(myDateIsHot - 2* 3000)
var myDateIsHot3MinAgo = new Date(myDateIsHot - 3*3000)
var myDateIsHot4MinAgo = new Date(myDateIsHot - 4* 3000)
var myDateIsHot5MinAgo = new Date(myDateIsHot - 5* 3000)



var ctx = document.getElementById('myChart').getContext('2d');
var chart = new Chart(ctx, {
    // The type of chart we want to create
    type: 'line',

    // The data for our dataset
    // You must leave the color of the graph pink MAURICIO!!!!!!! or
    // you will ruin the entire project!
    data: {
      // labels: [myDateIsHot, myDateIsHotOneMinAgo, myDateIsHotTwoMinAgo, myDateIsHot3MinAgo, myDateIsHot4MinAgo,myDateIsHot5MinAgo],
      labels: ["1","2","3","4","5","6"],

        datasets: [{
            label: "Load 1 cost",
            borderColor: 'rgb(255, 99, 132)',
            data: [{{table[0]}}, {{table[1]}}, {{table[2]}}, {{table[3]}}, {{table[4]}}, {{table[5]}}],
        },

        {
           label: "Load 2 cost",
            borderColor: 'rgb(255, 99, 12)',
            data: [{{table2[0]}}, {{table2[1]}}, {{table2[2]}}, {{table2[3]}}, {{table2[4]}}, {{table2[5]}}],
        },

        {
           label: "Load 3 cost",
            borderColor: 'rgb(255, 2, 12)',
            data: [{{table3[0]}}, {{table3[1]}}, {{table3[2]}}, {{table3[3]}}, {{table3[4]}}, {{table3[5]}}],
        },

        {
           label: "Load 4 cost",
            borderColor: 'rgb(2, 99, 12)',
            data: [{{table4[0]}}, {{table4[1]}}, {{table4[2]}}, {{table4[3]}}, {{table4[4]}}, {{table4[5]}}],
        }]
    },



    // Configuration options go here
    options: {}
});
var fplRate = 0.065950;

// document.getElementById('costtest').innerHTML = fplRate;

</script>
<h1> Cost Summary : David Gabay </h1>
<h2> Usage for past hour for all circuits </h2>
<h5>Usage is based on FPL non fuel rate of $0.065950/kWh</h5>
<table>
  <tr>
    <th>Circuit</th>
    <th>Usage</th>
    <th>Cost/ Last Hour</th>
  </tr>
  <tr>
    <td>Kitchen</td>
    <td>63.5 Watts</td>
    <td id="costtest">$</td>
  </tr>
  <tr>
    <td>Kitchen 2</td>
    <td>39.5 Watts</td>
    <td>$0.0053.8</td>
  </tr>
  <tr>
    <td>Bedroom</td>
    <td>83.5 Watts</td>
    <td>$0.0103.2</td>
  </tr>
  <tr>
    <td>Bedroom 2</td>
    <td>13.5 Watts</td>
    <td>$0.0023.8</td>
  </tr>
  <tr>
    <td>Patio</td>
    <td>150.5 Watts</td>
    <td>$0.0183.8</td>
  </tr>
  <tr>
    <td>Air Conditioning</td>
    <td>1030.1 Watts</td>
    <td>$0.83.8</td>
  </tr>
</table>



</body>
</html>
