<!DOCTYPE html>
<html>
<head>
<link rel="icon" href="images/smart-house-512.png">
<link href="css/bootstrap.css" rel='stylesheet' type='text/css' />
<!-- jQuery (necessary JavaScript plugins) -->
<script src="js/jquery.min.js"></script>
<!-- Custom Theme files -->
<link href="css/style.css" rel='stylesheet' type='text/css' />
<!-- Custom Theme files -->
<!--//theme-style-->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Energy Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, Sony Ericsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<link href='//fonts.googleapis.com/css?family=Montserrat|Raleway:400,200,300,500,600,700,800,900,100' rel='stylesheet' type='text/css'>
<link href='//fonts.googleapis.com/css?family=Iceland' rel='stylesheet' type='text/css'>
<!--/animated-css-->
<script type="text/javascript" src="js/move-top.js"></script>
<script type="text/javascript" src="js/easing.js"></script>
<!--/script-->
<script type="text/javascript">
			jQuery(document).ready(function($) {
				$(".scroll").click(function(event){
					event.preventDefault();
					$('html,body').animate({scrollTop:$(this.hash).offset().top},900);
				});
			});
</script>
<!--script-->

</head>

<body style="background-color: cornflowerblue">


				<div style="align-content: center;" class="col-md-3 head-logo">
				 	<h1 style="align-content: center;"><img style= "margin-bottom: 10px" src="images/House-iloveimg-resized%20(1).png" alt=""/></h1>
				</div>
				<div class="col-md-6 head-logo" style="margin-top: 45px">
                    <h1><a href="index.html">Smart Power               Panel</a></h1>
				</div>
				<div class="col-md-3 social">
				   <ul>
                       <a href=login.html><button class="button button5">Log In</button> </a>
                       <button class="button button5">Sign Up</button>
				  </ul>
				</div>
				<div class="clearfix"> </div>
        
    <h1>Enter some text</h1>
    <h2>(it will be converted to uppercase)</h2>
    <form action="." method="POST">
        <input type="text" name="text">
        <input type="submit" name="my-form" value="Send">
    </form>
    
    
<div class="banner1">
   <div class="container">
        <div class="header">
            <div class= col-md-3>
            </div>
            <div class="col-md-6">
            </div>
            <div class="col-md-3">
            </div>
        </div>
    </div>
</div>
</body>
</html>
