<!DOCTYPE html>
<html>
<head>
<link rel="icon" href="images/smart-house-512.png">
<link href="http://smartpanel.mybluemix.net/static/css/bootstrap.css" rel='stylesheet' type='text/css' />
<!-- jQuery (necessary JavaScript plugins) -->
<script src="js/jquery.min.js"></script>
<!-- Custom Theme files -->
<link href="http://smartpanel.mybluemix.net/static/css/style.css" rel='stylesheet' type='text/css' />
<link href="http://smartpanel.mybluemix.net/static/css/vcb.css" rel='stylesheet' type='text/css' />
<!-- Custom Theme files -->
<!--//theme-style-->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Energy Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, Sony Ericsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<link href='//fonts.googleapis.com/css?family=Montserrat|Raleway:400,200,300,500,600,700,800,900,100' rel='stylesheet' type='text/css'>
<link href='//fonts.googleapis.com/css?family=Iceland' rel='stylesheet' type='text/css'>
<!--/animated-css-->
<script type="text/javascript" src="js/move-top.js"></script>
<script type="text/javascript" src="js/easing.js"></script>
<!--/script-->
<script type="text/javascript">
			jQuery(document).ready(function($) {
				$(".scroll").click(function(event){
					event.preventDefault();
					$('html,body').animate({scrollTop:$(this.hash).offset().top},900);
				});
			});
</script>
<!--script-->

</head>

<body style="background-color: #15317E">


				<div style="align-content: center;" class="col-md-3 head-logo">
				 	<h1 style="margin-left: 100px"><img style= "margin-top: 50px" src="images/House-iloveimg-resized%20(1).png" alt=""/></h1>
				</div>
				<div class="col-md-6 head-logo" style="margin-top: 45px">
                    <h1 style="margin-top: 50PX"><a style="margin-left: 100px" href="index.html">Smart Power               Panel</a></h1>
				</div>
				<div class="clearfix"> </div>


    <form action="." method="POST">
        <input type="text" name="text">
        <input type="submit" name="my-form" value="Send">
    </form>


<div class="banner1">
   <div class="container">
       <div class="header">
       <div class= col-md-12 style="margin-bottom: 100px">
       </div>
       </div>
        <div class="header">
            <div class= col-md-3>
							<a href="http://smartpanel.mybluemix.net/myappe">Appliance 1</a>
							<a href="http://smartpanel.mybluemix.net/myappe2">Usage for past 6 min</a>
							<a href="http://smartpanel.mybluemix.net/myappe">Usage for past 20 seconds </a>

            </div>
            <div class="col-md-3" style="align-content: center">
                <table style="margin-left: 100px">
                      <tr>
                        <label for="check"> <input id="check" type="checkbox"><span class="strip"></span></label><br /><br />
                        <label for="check2"><input checked id="check2" type="checkbox"><span class="strip"></span></label>
                      </tr>
                </table>
            </div>

            <div class="col-md-3" style="align-content: center">
                <table style="margin-left: 100px">
                      <tr>
                        <label for="check"> <input id="check" type="checkbox"><span class="strip"></span></label><br /><br />
                        <label for="check2"><input checked id="check2" type="checkbox"><span class="strip"></span></label>
                      </tr>
                </table>
            </div>

            <div class="col-md-3">
                <a href="http://smartpanel.mybluemix.net/myapp">Appliance 2</a>
            </div>
        </div>
    </div>
</div>
</body>
<script src="https://cdn.pubnub.com/sdk/javascript/pubnub.4.17.0.js"></script>

</html>
